.reussite{
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-style: solid outside;
    -fx-border-width: 2px;

}

.echec{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-style: solid outside;
    -fx-border-width: 2px;

}

.titre{
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, #0dc500, #c71313);
}

.texte {
    -fx-text-fill: linear-gradient(to right, #0dc500, #c71313);
}